<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Jdr"
         connectionString="Host=localhost;Port=5432;Database=MightyGM;uid=postgres;Password=admin;"
         providerName="PostgreSQL"/>
  </connectionStrings>
</configuration>