<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="linq2db" publicKeyToken="f19f8aed7feff67e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.4" newVersion="1.0.7.4"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Jdr" 
         connectionString="Host=localhost;Port=5432;Database=MightyGM;uid=postgres;Password=admin;"
         providerName="PostgreSQL"/>
  </connectionStrings>
</configuration>
